body {
    background:
    url(../images/background_d.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}


.card-block {
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom: 10px;

}

.card-header {
  font-family: 'Lobster', cursive;
  font-size: 50;
  color: #fff;
}

.jumbotron {
    background-color: transparent !important;
    color:##000000d4;
    padding: 105px;
    margin-bottom: 10px;
    font-size: 105px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}


